body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.display {
    width: 95%;
    height: 50px;
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.button {
    width: 22%;
    height: 50px;
    margin: 1%;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #ddd;
}

.operator {
    background-color: #f9a825;
    color: #fff;
}

.operator:hover {
    background-color: #f57c00;
}

.equals {
    background-color: #4caf50;
    color: #fff;
    width: 47%
}

.equals:hover {
    background-color: #388e3c;
}

.clear, .delete {
    background-color: #d32f2f;
    color: #fff;
    width: 172px;
}

.clear:hover, .delete:hover {
    background-color: #c62828;
}